<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dimfcompany.bankapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".PageViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Test" />
        <activity android:name=".BanksShow" />
        <activity
            android:name=".SortDialogActvt"
            android:theme="@style/Activity_Dialog" />
        <activity
            android:name=".DetailsVklad"
            android:theme="@style/Activity_Dialog_Details" />
        <activity
            android:name=".SortCredit"
            android:theme="@style/Activity_Dialog" />
        <activity
            android:name=".DetailsCredit"
            android:theme="@style/Activity_Dialog_Details" />
        <activity
            android:name=".SortCard"
            android:theme="@style/Activity_Dialog_Details" />
        <activity
            android:name=".DetailsCard"
            android:theme="@style/Activity_Dialog_Details" />
        <activity android:name=".HelpActivity"
            android:theme="@style/Activity_Dialog"></activity>
    </application>

</manifest>